<ion-header>
  <ion-toolbar >
    <div class="ico-close" (click)="goBack()" >
      <img src="../../../assets/icon/cancelar.png" alt="">
    </div>
    <div class="tittle"><h1>Filtrer pokemon list</h1></div>
  </ion-toolbar>
</ion-header>
<ion-content class="background" scroll-y="false" >
  
    <div class="list-selects">
        <div class="select">
          <select name="pets" id="pet-select">
            <option value="">Select movement number</option>
            <option value="dog">5</option>
            <option value="cat">10</option>
        </select>
        </div>
        <div class="select">
          <select name="pets" id="pet-select">
            <option value="">Select experience level</option>
            <option value="dog">50</option>
            <option value="cat">60</option>
        </select>
        </div>
        <div class="select">
          <select name="pets" id="pet-select">
            <option value="">Pokemon Type</option>
            <option value="dog">Fire</option>
            <option value="cat">Electric</option>
        </select>
        </div>
    </div> 
  
</ion-content>

<ion-footer class="footer">
    <button class="btn-cancel" >Cancel</button>
    <button class="btn-filter">Filter</button>
</ion-footer>